html,
body {
/*	min-width: 1122px;
	min-height: 1750px;*/
	margin: 0;
	padding: 0;
}

/** {
	box-sizing: border-box;
}*/

body {
	min-width: 960px;
	font-family: "PT Sans Narrow", "arial", sans-serif;	
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: white;
	background: #000000 url(../img/body-bg.jpg) no-repeat center top;
}

.container {
	display: flex;
	flex-direction: column;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;	
	border: 1px solid green;
}

.header-flex {
	display: flex;
	justify-content: space-between;
}

.main-header {
	margin-bottom: 60px;
	color: white;
	background: #000000;
}

.main-navigation {
	width: 780px;
	height: 70px;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid yellow;
}
	.main-navigation ul{
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
	}

	.main-navigation a {
		display: flex;
		padding: 25px 20px;
		text-decoration: none;	
		color: white;
	}

	.main-navigation a:hover {
		background: #242424;
	}

.user-block {
		width: 105px;
		height: 70px;
		font-size: 16px;
		line-height: 20px;	
		border: 1px solid yellow;		
	}

	.user-block a{
		position: relative;
		display: flex;
		padding: 25px 20px 25px 50px;
		text-decoration: none;	
		color: white;
	}

	.user-block a:hover {
		background: #242424;
	}

	.user-block a::before {
			content: "";
			position: absolute;
			top: 26px;
			left: 23px;
			width: 18px;
			height: 18px;
			background: url(../img/icon-login.png) no-repeat;
			opacity: 0.3;
	}

	.user-block a:hover::before {
			opacity: 1;
		}

.index-logo {
	display: flex;
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
	border: 1px solid yellow

}

.features {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

	.feature {
		width: 300px;
		min-height: 150px;
		text-align: center;
		color: #ffffff;
		border: 1px solid yellow;
	}

		.feature__name {
			font-size: 30px;
			line-height: 36px;
		}

.index-content {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin-bottom: 35px;
	padding: 50px 80px;
	min-height: 430px;
	background: 
		url(../img/separator.png) no-repeat 50% 50%,
		#ffffff url(../img/background-block.jpg);
	color: black;
	border: 1px solid red;
}

	.index-content__left {
		width: 330px;
		border: 1px solid yellow;
	}

	.index-content__right{
		width: 300px;
		border: 1px solid yellow;
	}



.main-footer {
	margin-top: 65px;
	color: #ffffff;
}
	.footer-flex {
	display: flex;
	justify-content: space-between;
}

	.contacts {
		border: 1px solid yellow
	}

	.social {
		border: 1px solid yellow
	}

	.developer {
		border: 1px solid yellow
	}