html,
body {
	margin: 0;
	padding: 0;
}

/** {
	box-sizing: border-box;
}*/

body {
	min-width: 960px;
	font-family: "PT Sans Narrow", "arial", sans-serif;	
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: white;
	background: #000000 url(../img/body-bg.jpg) no-repeat center top;
}

h2 {

}

.container {
	display: flex;
	flex-direction: column;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-flex {
	display: flex;
	justify-content: space-between;
}

.main-header {
	margin-bottom: 60px;
	color: white;
	background: #000000;
}

.main-navigation {
	width: 780px;
	height: 70px;
	font-size: 16px;
	line-height: 20px;
}
	.main-navigation ul{
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
	}

	.main-navigation a {
		position: relative;
		display: flex;
		padding: 25px 20px;
		text-decoration: none;	
		color: white;
	}

	.main-navigation li:first-child a:after {
		content: "";
		position: absolute;
		left: 0px;
		bottom: 0px;
		margin-right: 20px;
		width: 100%;
		height: 4px;

		background: #ffffff;
	}

	.main-navigation a:hover {
		background: #242424;
	}

.user-block {
		width: 105px;
		height: 70px;
		font-size: 16px;
		line-height: 20px;	
	}

	.user-block a{
		position: relative;
		display: flex;
		padding: 25px 20px 25px 50px;
		text-decoration: none;
		color: white;
	}

	.user-block a:hover {
		background: #242424;
	}

	.user-block a::before {
			content: "";
			position: absolute;
			top: 26px;
			left: 23px;
			width: 18px;
			height: 18px;
			background: url(../img/icon-login.png) no-repeat;
			opacity: 0.3;
	}

	.user-block a:hover::before {
			opacity: 1;
		}

.index-logo {
	display: flex;
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.features {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

	.feature {
		width: 300px;
		min-height: 150px;
		text-align: center;
		color: #ffffff;
	}

		.feature__name {
			position: relative;
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
			padding-bottom: 35px;
			font-size: 30px;
			line-height: 42px;
		}

		.feature__name:after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;

			display: flex;
			margin-left: -10px;
			width: 20px;
			height: 20px;

			background: #ffffff;
			transform: rotate(45deg);
		}		

.index-content {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin-bottom: 35px;
	padding: 50px 80px;
	min-height: 430px;
	background: 
		url(../img/separator.png) no-repeat 50% 50%,
		#f8f5f2 url(../img/background-block.jpg);
	color: black;
}

	.index-content__item {
		/*box-sizing: border-box;*/
		width: 330px;
	}

	.index-content__item:nth-child(even) {
		width: 300px;
	}

		.item__title {
			display: flex;
			margin: 0;
			padding: 0;
			padding-bottom: 25px;
			font-size: 30px;
			line-height: 42px;
		}

		.item__body {
			margin: 0;
			padding: 0;
			list-style: none;
		}

			.item__body p {
				margin-top: 0;
				margin-bottom: 25px;
			}

			.item__body li {
				margin: 0px;
			}

			.item__body time {
				text-transform: none;
				font-weight: 400;
			}

			.contacts__links a:first-child {
				margin-right: 10px
			}
		/*Начало: Общий стиль для всех кнопок (плохо работает в safari (IOS)*/
		.btn {
			display: inline-flex;
			justify-content: center;
			/*display: inline;*/
			/*text-align: center;*/
			padding: 10px 33px;			

			font-family: "PT Sans Narrow", "arial", sans-serif;	
			font-weight: 700;
			font-size: 14px;
			line-height: 24px;

			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;

			border: none;
			cursor: pointer;
			outline: none;
			background: #000000;
		}

		.btn:hover,
		.btn:active {
			background: #663d15;
		}

		.btn:disabled {
			opacity: 0.5;
			cursor: default;
		}

		.btn:disabled:hover {
			background: #000000;
		}
		/*Конец: Общий стиль для всех кнопок*/
		.gallery {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

			.gallery img {
				width: 286px;
				height: 164px;
				margin-bottom: 35px;
				border: 7px solid #ffffff;
				background: #cccccc;				
			}

			.gallery .btn {
				width: 140px;
			}

			.gallery__next {
				margin-right: 0;
			}

		.appointmant__form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		} 

		.appointmant__form input {
			padding-left: 15px;
			margin-bottom: 20px;
			box-sizing: border-box;
			width: 140px;
			height: 43px;

			font-family: "PT Sans Narrow", "arial", sans-serif;	
			font-weight: 700;
			font-size: 14px;
			line-height: 24px;

			color: #000000;
			text-transform: uppercase;

			border: 2px solid #000000;
			background: #f9f6f3;
		}

		.appointmant__form input:hover {
			border-color: #663d15;
		}
		
		.appointmant__form ::-webkit-input-placeholder {
			color: #000000;
		}

		/*.appointmant__form :hover::-webkit-input-placeholder,
		.appointmant__form :focus::-webkit-input-placeholder {
			color: #663d15;
		}*/

		.appointmant__form .btn {
			display: flex;
			flex-grow: 1;
		}



.main-footer {
	margin-top: 65px;
	color: #ffffff;
	background: #232323;
}

.main-footer a{
	color: white;
}

.main-footer a:hover {
	text-decoration: none;
}
	
	.footer-flex {
	display: flex;
	justify-content: space-between;
}

	.contacts {
		text-decoration: none;	
		color: white;
	}

	.social {
		text-align: center;
	}

		.social__btn {
			display: inline-flex;
			margin-right: 5px;  
			width: 43px;
			height: 43px;
			font-size: 0;

			background: #000000 url(../img/social.png) no-repeat;
		}

		.social__btn:hover {
			-webkit-filter: invert(100%);
		}

			.social__btn_vk {
				background-position: 8px 50%;
			}
			
			.social__btn_fb {
				background-position: 50% 50%;
			}
			
			.social__btn_inst {
				margin-right: 0;
				background-position: -88px 50%;
			}
			
	.developer {
		text-align: center;
	}

	.developer a:hover {
		background: #ffffff;
		color: #000000;
	}