html,
body {
	min-width: 1122px;
	/*min-height: 1750px;*/
	margin: 0;
	padding: 0;
}

/** {
	box-sizing: border-box;
}*/

body {
	background: #ffffff url(../img/background-block.jpg);
	color: white;
}

main {
	color: black;
}

.container {
	display: flex;
	flex-direction: column;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;	
	border: 1px solid green;
}

.header-flex {
	display: flex;
	justify-content: space-between;
}

.main-header {
	background: #000000;
}

.main-navigation {
	width: 780px;
	min-height: 70px;	
	border: 1px solid yellow;
}
	.main-navigation ul{
		display: flex;
		list-style: none;
	}

	.main-navigation a {
		text-decoration: none;	
		color: white;
	}

.user-block {
		width: 140px;
		min-height: 70px;		
		border: 1px solid yellow;		
	}

	.user-block a{
		text-decoration: none;	
		color: white;
	}

	.user-block a::before {
			content: " ";
			background: url(../img/icon-login.png);
	}

.index-logo {
	display: flex;
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
	border: 1px solid yellow

}

.features {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

	.feature {
		width: 300px;
		min-height: 150px;
		text-align: center;
		color: #ffffff;
		border: 1px solid yellow;
	}

.index-content {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin-bottom: 35px;
	padding: 50px 80px;
	min-height: 430px;
	background: 
		url(../img/separator.png) no-repeat 50% 50%,
		#ffffff url(../img/background-block.jpg);
	color: black;
	border: 1px solid red;
}

	.index-content__left {
		width: 330px;
		border: 1px solid yellow;
	}

	.index-content__right{
		width: 300px;
		border: 1px solid yellow;
	}



.main-footer {
	background: #000000;
	color: #ffffff;
	font-style: bold;
}
	.footer-flex {
	display: flex;
	justify-content: space-between;
}

	.contacts {
		border: 1px solid yellow
	}

	.social {
		border: 1px solid yellow
	}

	.developer {
		border: 1px solid yellow
	}